<html>
  <head>
    <title>GRT API</title>
    <link rel="stylesheet" href="/stylesheets/screen.css">
  </head>
  <body>
    <p class="notice"><strong>Disclaimer:</strong> Route and schedule data for the Region of Waterloo used in this product or service is provided by permission of the Region. The Region assumes no responsibility for the accuracy or currency of the Data used in this product or service.</p>
    
    <h2>API Reference</h2>
    
    <h3>Stop List Resource</h3>
    <h4>Resource URI</h4>
    <p>GET /stops</p>
    <h4>Sample Response</h4>
    <pre><code>{
  "stops":[
    {
      "id":"2031",
      "name":"Meadowvale / Dansbury",
      "latitude":"43.498785",
      "longitude":"-80.498918"
    },
    {
      "id":"1869",
      "name":"Kinzie / Walker",
      "latitude":"43.433097",
      "longitude":"-80.436623"
    },
    {
      "id":"1868",
      "name":"Kinzie / Obermeyer",
      "latitude":"43.434163",
      "longitude":"-80.43499"
    }
  ]
}</code></pre>
    
    <br>
    <hr>

    <h3>Stop Instance Resource</h3>
    <h4>Resource URI</h4>
    <p>GET /stops/{stop_id}</p>
    <h4>Sample Response</h4>
    <pre><code>{
  "id":"2031",
  "name":"Meadowvale / Dansbury",
  "latitude":"43.498785",
  "longitude":"-80.498918"
}</code></pre>
  
    <br>
    <hr>

    <h3>Stop Instance Times Resource</h3>
    <h4>Resource URI</h4>
    <p>GET /stops/{stop_id}/times</p>
    <h4>Sample Response</h4>
    <pre><code>{
  "stop_times":[
    {
      "stop_id":"1185",
      "trip_id":"416378_merged_1001166",
      "route_id":"9",
      "arrival_time":"10:56:00",
      "departure_time":"10:56:00",
      "stop_sequence":"21"
    },
    {
      "stop_id":"1185",
      "trip_id":"419203_merged_1005868",
      "route_id":"13",
      "arrival_time":"11:54:00",
      "departure_time":"11:54:00",
      "stop_sequence":"21"
    },
    {
      "stop_id":"1185",
      "trip_id":"419208_merged_1005631",
      "route_id":"7",
      "arrival_time":"13:54:00",
      "departure_time":"13:54:00",
      "stop_sequence":"21"
    }
  ]
}</code></pre>

    <br>
    <hr>

    <h3>Stop Instance Times For Route Resource</h3>
    <h4>Resource URI</h4>
    <p>GET /stops/{stop_id}/times/{route_id}</p>
    <h4>Sample Response</h4>
    <pre><code>{
  "stop_times":[
    {
      "stop_id":"1185",
      "trip_id":"416378_merged_1001166",
      "route_id":"9",
      "arrival_time":"10:56:00",
      "departure_time":"10:56:00",
      "stop_sequence":"21"
    },
    {
      "stop_id":"1185",
      "trip_id":"419203_merged_1005868",
      "route_id":"9",
      "arrival_time":"11:54:00",
      "departure_time":"11:54:00",
      "stop_sequence":"21"
    },
    {
      "stop_id":"1185",
      "trip_id":"419208_merged_1005631",
      "route_id":"9",
      "arrival_time":"13:54:00",
      "departure_time":"13:54:00",
      "stop_sequence":"21"
    }
  ]
}</code></pre>

    <br>
    <hr>

    <h3>Route List Resource</h3>
    <h4>Resource URI</h4>
    <p>GET /routes</p>
    <h4>Sample Response</h4>
    <pre><code>{
  "routes":[
    {
      "id":"15",
      "name":"Frederick"
    },
    {
      "id":"17",
      "name":"Heritage Park"
    },
    {
      "id":"19",
      "name":"Victoria South"
    }
  ]
}</code></pre>

    <br>
    <hr>

    <h3>Route Instance Resource</h3>
    <h4>Resource URI</h4>
    <p>GET /routes/{route_id}</p>
    <h4>Sample Response</h4>
    <pre><code>{
  "route":{
    "id":"9",
    "name":"Lakeshore"
  }
}</code></pre>

    <br>
    <hr>

    <h3>Route Instance Times Resource</h3>
    <p class="notice">This one's a little slow at the moment.</p>
    <h4>Resource URI</h4>
    <p>GET /routes/{route_id}/times</p>
    <h4>Sample Response</h4>
    <pre><code>{
  "stop_times":[
    {
      "stop_id":"1125",
      "trip_id":"416321_merged_1003944",
      "route_id":"9",
      "arrival_time":"16:30:00",
      "departure_time":"16:30:00",
      "stop_sequence":"1"
    },
    {
      "stop_id":"2809",
      "trip_id":"416321_merged_1003944",
      "route_id":"9",
      "arrival_time":"16:31:00",
      "departure_time":"16:31:00",
      "stop_sequence":"2"
    },
    {
      "stop_id":"2810",
      "trip_id":"416321_merged_1003944",
      "route_id":"9",
      "arrival_time":"16:31:00",
      "departure_time":"16:31:00",
      "stop_sequence":"3"
    }
  ]
}</code></pre>
  
  </body>
</html>