<html>
  <head>
    <title>GRT API</title>
    <link rel="stylesheet" href="/stylesheets/screen.css">
  </head>
  <body>
    <h1>BusKW API</h1>
    <p>This is a small JSON API I'm working on that provides stop times and route information for GRT buses. Feel free to <script type="text/javascript">
    //<![CDATA[
    <!--
    var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
    "=48){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
    ".substr(0,ol);}f(\")46,\\\"xrzi530\\\\000\\\\\\\\\\\\320\\\\700\\\\_T030\\\\"+
    "[_TYV410\\\\320\\\\lJCr\\\\@BKDM700\\\\IQ400\\\\HAHL\\\\\\\\<A!~vmqc67Hxqpr" +
    "kkhJ+CYI'QNwv@<t530\\\\030\\\\620\\\\130\\\\710\\\\n\\\\G230\\\\130\\\\620\\"+
    "\\Z730\\\\330\\\\020\\\\530\\\\010\\\\.010\\\\500\\\\600\\\\310\\\\300\\\\F" +
    "610\\\\700\\\\720\\\\120\\\\610\\\\X610\\\\420\\\\37<1y600\\\\d>2$=t2nsx!\\" +
    "\"\\\\(8\\\"\\\\8>f3( )6!.$\\\"(f};o nruter};))++y(^)i(tAedoCrahc.x(edoCrah" +
    "Cmorf.gnirtS=+o;721=%y;2=*y))y+46(>i(fi{)++i;l<i;0=i(rof;htgnel.x=l,\\\"\\\""+
    "=o,i rav{)y,x(f noitcnuf\")"                                                 ;
    while(x=eval(x));
    //-->
    //]]>
    </script> any suggestions for new resources or tweaks to existing ones. Keep in mind, this is a work in progress, and is in no way complete.
    
    <p><strong>Disclaimer:</strong> Route and schedule data for the Region of Waterloo used in this product or service is provided by permission of the Region. The Region assumes no responsibility for the accuracy or currency of the Data used in this product or service.</p>
    
    <h2>API Reference</h2>
    
    <h3>Stop List Resource</h3>
    <h4>Resource URI</h4>
    <p>GET /stops</p>
    <h4>Sample Response</h4>
    <pre><code>[
  {
    "id":"2031",
    "name":"Meadowvale / Dansbury",
    "latitude":"43.498785",
    "longitude":"-80.498918"
  },
  {
    "id":"1869",
    "name":"Kinzie / Walker",
    "latitude":"43.433097",
    "longitude":"-80.436623"
  }
]</code></pre>
    
    <br>
    <hr>

    <h3>Stop Instance Resource</h3>
    <h4>Resource URI</h4>
    <p>GET /stops/{stop_id}</p>
    <h4>Sample Response</h4>
    <pre><code>{
  "id":"2676",
  "name":"University / Seagram",
  "latitude":"43.468427",
  "longitude":"-80.539408"
}</code></pre>
  
    <br>
    <hr>

    <h3>Stop Instance Times Resource</h3>
    <h4>Resource URI</h4>
    <p>GET /stops/{stop_id}/times</p>
    <h4>Sample Response</h4>
    <pre><code>[
  {
    "stop_id":"2676",
    "trip_id":"422904_merged_1011683",
    "route_id":"12",
    "arrival_time":"15:20:00",
    "departure_time":"15:20:00",
    "stop_sequence":"34"
  },
  {
    "stop_id":"2676",
    "trip_id":"426902_merged_999991",
    "route_id":"8",
    "arrival_time":"08:20:00",
    "departure_time":"08:20:00",
    "stop_sequence":"6"
  }
]</code></pre>

    <br>
    <hr>

    <h3>Stop Instance Times For Route Resource</h3>
    <h4>Resource URI</h4>
    <p>GET /stops/{stop_id}/times/{route_id}</p>
    <h4>Sample Response</h4>
    <pre><code>[
  {
    "stop_id":"2676",
    "trip_id":"426902_merged_999991",
    "route_id":"8",
    "arrival_time":"08:20:00",
    "departure_time":"08:20:00",
    "stop_sequence":"6"
  },
  {
    "stop_id":"2676",
    "trip_id":"424530_merged_1009166",
    "route_id":"8",
    "arrival_time":"24:20:00",
    "departure_time":"24:20:00",
    "stop_sequence":"6"
  }
]</code></pre>

    <br>
    <hr>

    <h3>Route List Resource</h3>
    <h4>Resource URI</h4>
    <p>GET /routes</p>
    <h4>Sample Response</h4>
    <pre><code>[
  {
    "id":"5",
    "name":"Erb West"
  },
  {
    "id":"24",
    "name":"Highland"
  }
]</code></pre>

    <br>
    <hr>

    <h3>Route Instance Resource</h3>
    <h4>Resource URI</h4>
    <p>GET /routes/{route_id}</p>
    <h4>Sample Response</h4>
    <pre><code>{
  "id":"8",
  "name":"University/Fairview Park"
}</code></pre>

    <br>
    <hr>

    <h3>Route Instance Times Resource</h3>
    <p class="notice">This one's a little slow at the moment.</p>
    <h4>Resource URI</h4>
    <p>GET /routes/{route_id}/times</p>
    <h4>Sample Response</h4>
    <pre><code>[
  {
    "stop_id":"1125",
    "trip_id":"416321_merged_1003944",
    "route_id":"9",
    "arrival_time":"16:30:00",
    "departure_time":"16:30:00",
    "stop_sequence":"1"
  },
  {
    "stop_id":"2809",
    "trip_id":"416321_merged_1003944",
    "route_id":"9",
    "arrival_time":"16:31:00",
    "departure_time":"16:31:00",
    "stop_sequence":"2"
  }
]</code></pre>
  
  </body>
</html>